<div class="col-md-12">
  <h1 class="text-center">
    我发表的文章
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Content</th>
        <th>Group Name</th>
        <th>Last Update</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each_with_index do |post, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= post.content %></td>
        <td><%= post.group.title %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to("Edit", edit_account_post_path(post), class:"btn btn-sm") %> |
            <%= link_to("Delete", account_post_path(post), method: :delete, :data => {:confirm => "Are you sure?"}, class:"btn btn-sm") %></td>
      </tr>
      <% end %>
    </tbody>

  </table>
</div>
